* {
  background-color: rgb(39, 41, 52);
}

body.v1 {
  background-color: rgb(39, 41, 52);
  color: rgb(155, 157, 159);
  font-weight: 400;
}

body a {
  padding-left: 350px;
  font-size: 1.8vh;
  text-decoration: none;
  color: rgb(155, 157, 159);
}

body a:hover {
  text-decoration: none;
  color: #fff;
}

body a.logo {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 3.5vh;
}

.nav-link {
  font-size: 1.7vh;
  margin-right: 20px;
}

.navbar-nav.ml-auto {
  padding-right: 350px;
  margin-right: 10px;
  font-weight: 500;
  background-color: #1f1f25;
}

.navbar-nav.ml-auto a span {
  background-color: #1f1f25;
}

.dropdown {
  background-color: #1f1f25;
}

.dropdown .user-avatar.round {
  border-radius: 6px;
}

.dropdown .name {
  background-color: #1f1f25;
  color: rgb(242, 244, 251);
}

#navbar,
nav {
  background-color: #1f1f25;
}

.premium {
  color: rgb(253, 188, 48);
}

body .login {
  white-space: nowrap;
  user-select: none;
  line-height: 1;
  font-weight: bold;
  display: flex;
  border-radius: 3px;
  font-size: 13px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 25px;
  border: none;
  color: rgb(242, 244, 251);
  background: rgb(57, 148, 255);
  cursor: pointer;
  min-height: 40px;
  min-width: 60px;
  width: unset;
}

.center h1 {
  padding-top: 156px;
  padding-bottom: 25px;
  color: rgb(242, 244, 251);
}

.center h3 {
  color: rgb(155, 157, 159);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.test {
  margin-top: 156px;
}

.button-add-to-discord {
  display: flex;
  align-items: center;
  background: rgb(57, 148, 255);
  margin-right: 50px;
  border-radius: 8px;
  border: 0;
  font-weight: 500;
  font-size: 17px !important;
  line-height: 21px !important;
  color: #fff;
  padding: 0 27px;
  height: 58px;
  outline: none;
  unicode-bidi: -moz-plaintext;
  unicode-bidi: plaintext;
}

.button-login-dashbard {
  border: 4px solid rgba(255, 255, 255, 0.01);
  background: rgba(255, 255, 255, 0.2);
  color: rgb(242, 244, 251);
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  padding: 0 27px;
  height: 58px;
  outline: none;
}

.button-add-to-discord:hover {
  background: rgb(46, 126, 218);
}

.button-login-dashbard:hover {
  background: rgba(223, 223, 223, 0.2);
  color: rgb(242, 244, 251);
  border: 4px solid rgba(255, 255, 255, 0.01);
}

.info {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 156px;
  text-align: center;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.6s ease-out 0s, transform;
}

.kekw {
  margin: 0px auto;
  padding: 0px 40px;
  max-width: 1240px;
  width: 100%;
}

.text {
  max-width: 460px;
  width: 100%;
  text-align: left;
}

.sus {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(242, 244, 251);
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  -spacing: -1px;
}

.box {
  height: 136px;
  margin-bottom: 156px;
  z-index: 1;
  background-color: rgb(31, 33, 41);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.impostor {
  margin: 32px 0px;
  white-space: pre-wrap;
}

.crazy {
  font-size: 16px;
  line-height: 24px;
}

.box-text {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.tekscior {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(242, 244, 251);
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.8px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.cos {
  opacity: 1;
  transform: translateY(0px);
}

.box-text h3 {
  background-color: rgb(31, 33, 41);
  padding: 0px 156px;
}

.krzak {
  display: flex;
  z-index: 9999;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 80px 0px;
  background: url(/img/tst.svg) center bottom / 100% no-repeat;
  background-position-y: 156px;
}
